body {
  background-image: url("images/pattern-background-desktop.svg");
  background-color: var(--primary-color-light);
  background-repeat: no-repeat;

  @include mobile {
    background-image: url("images/pattern-background-mobile.svg");
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn-primary:link,
.btn-primary:visited {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-light);
  background-color: var(--primary-color-dark);
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  text-align: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--primary-color-dark-1);
}
